<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="beach-header">
  <div class="container pt-5">
    <h1 class="display-4">Beaches Gallery</h1>
  </div>
</div>

<ul>
  <li>
    <img src="/images/beach12.jpg">
  </li>
  <li>
    <img src="/images/beach2.jpg">
  </li>
  <li>
    <img src="/images/beach3.jpg">
  </li>
  <li>
    <img src="/images/beach4.jpg">
  </li>
  <li>
    <img src="/images/beach5.jpg">
  </li>
  <li>
    <img src="/images/beach6.jpg">
  </li>
  <li>
    <img src="/images/beach7.jpg">
  </li>
  <li>
    <img src="/images/beach8.jpg">
  </li>
  <li>
    <img src="/images/beach9.jpg">
  </li>
  <li>
    <img src="/images/beach10.jpg">
  </li>
  <li>
    <img src="/images/beach11.jpg">
  </li>
  <li>
    <img src="/images/beach1.jpg">
  </li>
</ul>


<%- include ("./partials/footer") %>