<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="bee-header">
  <div class="container pt-5">
    <h1 class="display-4">Bees Gallery</h1>
  </div>
</div>

<ul>
  <li>
    <img src="/images/bee1.jpg">
  </li>
  <li>
    <img src="/images/bee2.jpg">
  </li>
  <li>
    <img src="/images/bee3.jpg">
  </li>
  <li>
    <img src="/images/bee4.jpg">
  </li>
  <li>
    <img src="/images/bee5.jpg">
  </li>
  <li>
    <img src="/images/bee6.jpg">
  </li>
  <li>
    <img src="/images/bee7.jpg">
  </li>
  <li>
    <img src="/images/bee8.jpg">
  </li>
  <li>
    <img src="/images/bee9.jpg">
  </li>
  <li>
    <img src="/images/bee10.jpg">
  </li>
  <li>
    <img src="/images/bee11.jpg">
  </li>
  <li>
    <img src="/images/bee12.jpg">
  </li>
</ul>


<%- include ("./partials/footer") %>