<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="bird-header">
  <div class="container pt-5">
    <h1 class="display-4">Birds Gallery</h1>
  </div>
</div> 

<ul>
  <li>
    <img src="/images/bird1.jpg">
  </li>
  <li>
    <img src="/images/bird2.jpg">
  </li>
  <li>
    <img src="/images/bird3.jpg">
  </li>
  <li>
    <img src="/images/bird4.jpg">
  </li>
  <li>
    <img src="/images/bird5.jpg">
  </li>
  <li>
    <img src="/images/bird6.jpg">
  </li>
  <li>
    <img src="/images/bird7.jpg">
  </li>
  <li>
    <img src="/images/bird8.jpg">
  </li>
  <li>
    <img src="/images/bird9.jpg">
  </li>
  <li>
    <img src="/images/bird10.jpg">
  </li>
  <li>
    <img src="/images/bird11.jpg">
  </li>
  <li>
    <img src="/images/bird12.jpg">
  </li>
  <li id="back-parent">   
     <a href="/" id="back"><i class="fas fa-arrow-circle-left fa-3x"></i></a>  
  </li>
</ul>


<%- include ("./partials/footer") %>