<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="cave-header">
  <div class="container pt-5">
    <h1 class="display-4">Caves Gallery</h1>
  </div>
</div>

<ul>
  <li>
    <img src="/images/cave1.jpg">
  </li>
  <li>
    <img src="/images/cave2.jpg">
  </li>
  <li>
    <img src="/images/cave3.jpg">
  </li>
  <li>
    <img src="/images/cave4.jpg">
  </li>
  <li>
    <img src="/images/cave5.jpg">
  </li>
  <li>
    <img src="/images/cave6.jpg">
  </li>
  <li>
    <img src="/images/cave7.jpg">
  </li>
  <li>
    <img src="/images/cave8.jpg">
  </li>
  <li>
    <img src="/images/cave9.jpg">
  </li>
  <li>
    <img src="/images/cave10.jpg">
  </li>
  <li>
    <img src="/images/cave11.jpg">
  </li>
  <li>
    <img src="/images/cave12.jpg">
  </li>
</ul>


<%- include ("./partials/footer") %>