<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="flower-header">
  <div class="container pt-5">
    <h1 class="display-4">Flowers Gallery</h1>
  </div>
</div>

<ul>
  <li>
    <img src="/images/flower1.jpg">
  </li>
  <li>
    <img src="/images/flower2.jpg">
  </li>
  <li>
    <img src="/images/flower3.jpg">
  </li>
  <li>
    <img src="/images/flower4.jpg">
  </li>
  <li>
    <img src="/images/flower5.jpg">
  </li>
  <li>
    <img src="/images/flower6.jpg">
  </li>
  <li>
    <img src="/images/flower7.jpg">
  </li>
  <li>
    <img src="/images/flower8.jpg">
  </li>
  <li>
    <img src="/images/flower9.jpg">
  </li>
  <li>
    <img src="/images/flower10.jpg">
  </li>
  <li>
    <img src="/images/flower11.jpg">
  </li>
  <li>
    <img src="/images/flower12.jpg">
  </li>
</ul>


<%- include ("./partials/footer") %>