<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nature Gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/02c1331262.js" crossorigin="anonymous"></script>

    
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="/main.css">

</head>
<body>
  <div class="jumbotron jumbotron-fluid" id="home-header">
    <div class="container">
      <h1 class="display-4 mt-5"><i class="fas fa-tree"></i>  Nature Image Gallery</h1>
      <p class="lead">Just beautiful images of the natural world</p>
    </div>
  </div>

  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="/trees"><img src="/images/trees.jpg"><h2>Trees</h2></a>
      </div>
      <div class="swiper-slide">
        <a href="/flowers"><img src="/images/flowers.jpg"><h2>Flowers</h2></a>
      </div>
      <div class="swiper-slide">
        <a href="/birds"><img src="/images/birds.jpg"><h2>Birds</h2></a>
      </div>
      <div class="swiper-slide">
        <a href="/horses"><img src="/images/horses.jpg"><h2>Horses</h2></a>
      </div>
      <div class="swiper-slide">
        <a href="/bees"><img src="/images/bees.jpg"><h2>Bees</h2></a>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="/beaches"><img src="/images/beaches.jpg"><h2>Beaches</h2></a>
      </div>
      <div class="swiper-slide">
        <a href="/stars"><img src="/images/stars.jpg"><h2>Stars</h2></a>
      </div>
      <div class="swiper-slide">
        <a href="/mountains"><img src="/images/mountains.jpg"><h2>Mountains</h2></a>
      </div>
      <div class="swiper-slide">
        <a href="/caves"><img src="/images/caves.jpg"><h2>Caves</h2></a>
      </div>
      <div class="swiper-slide">
        <a href="/sky"><img src="/images/sky.jpg"><h2>Sky</h2></a>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script src="/script.js"></script>  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>