<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="horse-header">
  <div class="container pt-5">
    <h1 class="display-4">Horses Gallery</h1>
  </div>
</div>

<ul>
  <li>
    <img src="/images/horse1.jpg">
  </li>
  <li>
    <img src="/images/horse2.jpg">
  </li>
  <li>
    <img src="/images/horse3.jpg">
  </li>
  <li>
    <img src="/images/horse4.jpg">
  </li>
  <li>
    <img src="/images/horse5.jpg">
  </li>
  <li>
    <img src="/images/horse6.jpg">
  </li>
  <li>
    <img src="/images/horse7.jpg">
  </li>
  <li>
    <img src="/images/horse8.jpg">
  </li>
  <li>
    <img src="/images/horse9.jpg">
  </li>
  <li>
    <img src="/images/horse10.jpg">
  </li>
  <li>
    <img src="/images/horse11.jpg">
  </li>
  <li>
    <img src="/images/horse12.jpg">
  </li>
</ul>


<%- include ("./partials/footer") %>