<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="mountain-header">
  <div class="container pt-5">
    <h1 class="display-4">Mountains Gallery</h1>
  </div>
</div>

<ul>
  <li>
    <img src="/images/mountain1.jpg">
  </li>
  <li>
    <img src="/images/mountain2.jpg">
  </li>
  <li>
    <img src="/images/mountain3.jpg">
  </li>
  <li>
    <img src="/images/mountain4.jpg">
  </li>
  <li>
    <img src="/images/mountain5.jpg">
  </li>
  <li>
    <img src="/images/mountain6.jpg">
  </li>
  <li>
    <img src="/images/mountain7.jpg">
  </li>
  <li>
    <img src="/images/mountain8.jpg">
  </li>
  <li>
    <img src="/images/mountain9.jpg">
  </li>
  <li>
    <img src="/images/mountain10.jpg">
  </li>
  <li>
    <img src="/images/mountain11.jpg">
  </li>
  <li>
    <img src="/images/mountain12.jpg">
  </li>
</ul>


<%- include ("./partials/footer") %>