<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="star-header">
  <div class="container pt-5">
    <h1 class="display-4">Stars Gallery</h1>
  </div>
</div>

<ul>
  <li>
    <img src="/images/star1.jpg">
  </li>
  <li>
    <img src="/images/star2.jpg">
  </li>
  <li>
    <img src="/images/star3.jpg">
  </li>
  <li>
    <img src="/images/star4.jpg">
  </li>
  <li>
    <img src="/images/star11.jpg">
  </li>
  <li>
    <img src="/images/star6.jpg">
  </li>
  <li>
    <img src="/images/star7.jpg">
  </li>
  <li>
    <img src="/images/star8.jpg">
  </li>
  <li>
    <img src="/images/star9.jpg">
  </li>
  <li>
    <img src="/images/star10.jpg">
  </li>
  <li>
    <img src="/images/star5.jpg">
  </li>
  <li>
    <img src="/images/star12.jpg">
  </li>
</ul>


<%- include ("./partials/footer") %>