<%- include ("./partials/header") %>

<div class="jumbotron jumbotron-fluid greyscale" id="tree-header">
  <div class="container pt-5">
    <h1 class="display-4">Trees Gallery</h1>
  </div>
</div>

<ul>
  <li>
    <img src="/images/tree1.jpg">
  </li>
  <li>
    <img src="/images/tree2.jpg">
  </li>
  <li>
    <img src="/images/tree3.jpg">
  </li>
  <li>
    <img src="/images/tree4.jpg">
  </li>
  <li>
    <img src="/images/tree5.jpg">
  </li>
  <li>
    <img src="/images/tree6.jpg">
  </li>
  <li>
    <img src="/images/tree7.jpg">
  </li>
  <li>
    <img src="/images/tree8.jpg">
  </li>
  <li>
    <img src="/images/tree9.jpg">
  </li>
  <li>
    <img src="/images/tree10.jpg">
  </li>
  <li>
    <img src="/images/tree11.jpg">
  </li>
  <li>
    <img src="/images/tree12.jpg">
  </li>
</ul>


<%- include ("./partials/footer") %>